<div fxFlex class="input-component-holder mat-elevation-z4">
        <mat-toolbar class="input-header">
            <h1 class="mat headline center-align"> Modifica setarile contului </h1>
        </mat-toolbar>

        <div class="input-container">
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email (disabled)" disabled value="boca@info.uaic.ro">
                    </mat-form-field>
                </div>

                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cabinet" value="C201">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nume" value="Boca">
                    </mat-form-field>
                </div>
                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Prenume" value="Bogdan">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
                    <div>
                        <mat-form-field style="width: 70%;">
                            <input matInput type="{{ isChecked? 'text' : 'password' }}" placeholder="Parola" value="parola">
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="isChecked">Arata parola</mat-checkbox>
                    </div>
                </div>
            </div>

            <button mat-raised-button color="primary">Salveaza schimbarile</button>
        </div>

</div>    