<mat-card class="project-card">
    <mat-card-header>
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-subtitle> Propus de: {{project.lecturer.name}} </mat-card-subtitle>
    </mat-card-header>

    <hr/>

    <mat-card-content>
        <p> {{ project.description }} </p>
        <mat-chip-list class="project-tags">
            <mat-chip *ngFor="let tag of project.tags" selected="true">
              {{tag.name}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button> Aplica </button>
        <button mat-button routerLink="/project-details"> Detalii </button>
    </mat-card-actions>

</mat-card>