<h2 mat-dialog-title> Editeaza proiect </h2>

<form [formGroup]="updateProjectForm" fxFill (ngSubmit)="updateProjectForm.valid && updateProject()">
    <mat-dialog-content fxLayout="row">
        <div fxFill>    
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Titlu" value={{data.project.title}} formControlName="titleControl">
            </mat-form-field>

            <mat-form-field style="width: 100%">
                <textarea matInput placeholder="Descriere" value={{data.project.description}} formControlName="descriptionControl"> </textarea>
            </mat-form-field>

            <mat-form-field style="width: 100%">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (remove)="remove(tag)">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Adauga sau sterge taguri"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
            </mat-form-field>

            <mat-form-field style="width: 100%">
                <input matInput placeholder="Numar studenti" value="{{data.project.capacity}}" formControlName="capacityControl">
            </mat-form-field>

            <mat-list>
                <h3 matSubheader> Referinte </h3>
                <mat-list-item *ngFor="let reference of references; let i = index">
                    <h4 matLine> {{reference}}</h4>
                    <button type="button" mat-icon-button (click)="removeReference(i)">
                        <i class="material-icons">close</i>
                    </button>
                </mat-list-item>
            </mat-list>

            <div class="row" style="width: 100%; margin-left: 3px;">
                <mat-form-field style="width: calc(100% - 58px) !important;">
                    <input #reference matInput placeholder="Adauga o noua referinta">
                </mat-form-field>
                <button type="button" mat-icon-button (click)="addReference(reference.value)">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions> 
        <button mat-button mat-dialog-close>Anuleaza</button>
        <button mat-button type="button" (click)="updateProject()">Modifica</button>
    </mat-dialog-actions>
</form>
